@page "/signal-sources/{signalSourceId}"
@rendermode InteractiveServer

@inject IApiService ApiService
@inject NavigationManager Navigation

<h3>Signal Source Details</h3>
<FluentButton IconEnd="@(new Icons.Regular.Size16.ArrowStepBack())" @onclick="@(() => Returns())"/>

@if (signalSource is not null)
{
    <h4>@signalSource.Name (@signalSource.Id)</h4>
    <p>@signalSource.Description</p>

    <FluentTabs ActiveTabId="signal-hisotry">
        <FluentTab Id="signal-hisotry">
            <Header>
                Signal History 
            </Header>
            
            <Content>
                <FluentDataGrid Items="@signals" TGridItem="SignalResponse">
                    <PropertyColumn Property="@(source => source.Time)" Title="Time" />
                    <PropertyColumn Property="@(source => source.SourceId)" Title="Source Id" />
                    <PropertyColumn Property="@(source => source.TradeType)" Title="Trade Type" />
                    <PropertyColumn Property="@(source => source.Symbol)" Title="Symbol" />
                    <PropertyColumn Property="@(source => source.Quantity)" Title="Quantity" />
                    <PropertyColumn Property="@(source => source.Price)" Title="Price" />
                </FluentDataGrid>                   
            </Content>
        </FluentTab>

        <FluentTab Id="performance-summary">
            <Header>
                Performance Summary 
            </Header>
            <Content>
                <p>Performance Summary Content</p>                
            </Content>
        </FluentTab>
    </FluentTabs>
}

@code {
    [Parameter]
    public required string SignalSourceId { get; set; }

    public required SignalSourceDetailsResponse signalSource { get; set; }

    public required IQueryable<SignalResponse> signals { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var signalSourceResponse = await ApiService.GetSignalSourceByIdAsync(SignalSourceId);

        signalSource = signalSourceResponse;
        signals = signalSource.Signals.AsQueryable();
    }

    private void Returns() => Navigation.NavigateTo($"/signal-sources");
}