@page "/accounts/{accountId}"
@rendermode @(new InteractiveAutoRenderMode(prerender: false))

@using RichillCapital.TraderStudio.Web.Services.Contracts.Accounts

@inject IApiService ApiService

<h1>@accountId</h1>

@if (account is not null)
{
    <FluentStack Orientation="Orientation.Vertical">
        <h1>@account.Name (@account.Id)</h1>
    </FluentStack>

    <FluentTabs>
        <FluentTab Id="tab-orders" Label="Orders" Icon="@(new Icons.Regular.Size20.Wallet())">
            <FluentDataGrid Items="account.Orders.AsQueryable()">
                <PropertyColumn Property="@(order => order.Time)"/>
                <PropertyColumn Property="@(order => order.TradeType)"/>
                <PropertyColumn Property="@(order => order.Type)"/>
                <PropertyColumn Property="@(order => order.Symbol)"/>
                <PropertyColumn Property="@(order => order.Quantity)"/>
                <PropertyColumn Property="@(order => order.Price)"/>
                <PropertyColumn Property="@(order => order.TimeInForce)"/>
                <PropertyColumn Property="@(order => order.Id)"/>
            </FluentDataGrid>
        </FluentTab>
        
        <FluentTab Id="tab-executions" Label="Executions" Icon="@(new Icons.Regular.Size20.Wallet())">
            <FluentDataGrid Items="account.Executions.AsQueryable()">
                <PropertyColumn Property="@(execution => execution.Time)" />
                <PropertyColumn Property="@(execution => execution.TradeType)" />
                <PropertyColumn Property="@(execution => execution.Symbol)" />
                <PropertyColumn Property="@(execution => execution.Quantity)" />
                <PropertyColumn Property="@(execution => execution.Price)" />
                <PropertyColumn Property="@(execution => execution.Commission)" />
                <PropertyColumn Property="@(execution => execution.Tax)" />
                <PropertyColumn Property="@(execution => execution.Id)" />
            </FluentDataGrid>
        </FluentTab>
        
        <FluentTab Id="tab-positions" Label="Positions" Icon="@(new Icons.Regular.Size20.Wallet())">
            <FluentDataGrid Items="account.Positions.AsQueryable()">
                <PropertyColumn Property="@(position => position.Id)" />
                <PropertyColumn Property="@(position => position.Side)" />
                <PropertyColumn Property="@(position => position.Symbol)" />
                <PropertyColumn Property="@(position => position.Quantity)" />
                <PropertyColumn Property="@(position => position.Price)" />
            </FluentDataGrid>
        </FluentTab>
        
        <FluentTab Id="tab-trades" Label="Trades" Icon="@(new Icons.Regular.Size20.Wallet())">
            No trades.
        </FluentTab>
    </FluentTabs>
}

@code {
    [Parameter]
    public required string accountId { get; set; }

    private AccountDetailsResponse? account { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {
        account = await ApiService.GetAccountByIdAsync(accountId, CancellationToken.None);
    }
}
