@using Microsoft.AspNetCore.Authorization

@page "/"
@rendermode @(new InteractiveAutoRenderMode(prerender: false))
@attribute [Authorize]

<PageTitle>@Assembly.GetName().Name</PageTitle>

<FluentCard>
    <h1 class="card-header">
        @Assembly.GetName().Name v. @Assembly.GetName().Version
    </h1>

    <FluentStack Orientation="Orientation.Vertical">
            Developed by:
            <h3>Mengsyue Amao Tsai</h3>
            
            <div class="text-center">@("@MengsyueAmaoTsai")</div>
            
            <a href="https://github.com/MengsyueAmaoTsai/TraderStudio.Web.Blazor" target="_blank">
                TraderStudio.Web
            </a>
            
            <div class="text-center">@DateTimeOffset.UtcNow</div>
    </FluentStack>
</FluentCard>

@code {
    private static readonly Assembly Assembly = Assembly.GetExecutingAssembly();
}